/* config.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 75%;
  max-height: 75%;
  overflow-y: auto;
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-title {
  margin: 0;
}

.modal-description {
  margin: 20px 0;
}

.modal-caracteristicas {
  list-style-type: disc;
  padding-left: 20px;
}

.modal-imagenes {
  margin-top: 20px;
}

.modal-imagen {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}